
  * {
   box-sizing: border-box; 
  }
  body {
    margin: 0;
    background-color: black;
  }

  .header {
    background: black;
    text-align: center;
    color: white;
    height: 20vh;
  }

  footer {
    background: black;
    text-align: center;
    color: white;
    height: 20vh;
  }

  .image-grid {
    --gap: 75px;
    --num-cols: 2;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
    }
  }
  a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}